$font-size: (
  'base': 14px,
  'h1': 24px,
  'h2': 18px,
  'h3': 16px,
  'h4': 14px,
  'h5': 14px,
  'h6': 14px,
);

@font-face {
  font-family: 'Merriweather-Regular';
  src: url('~@/assets/fonts/Merriweather-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather-Light';
  src: url('~@/assets/fonts/Merriweather-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('~@/assets/fonts/Merriweather-Bold.woff2') format('woff2');
  font-display: swap;
}

$font-weight: (
  'regular': 'Merriweather-Regular',
  'bold': 'Merriweather-Bold',
  'light': 'Merriweather-Light',
);