@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: weight('regular'), serif;
  color: color('text', 'primary');
  font-size: size('base');
}

a {
  text-decoration: none;
}

.icon {
  width: 16px;
  height: 16px;
  fill: color('text', 'secondary');
}

.text-h1 {
  font-size: size('h1');
  font-family: weight('bold'), serif;

  @media (max-width: 640px) {
    font-size: 20px;
  }
}

.text-h2 {
  font-size: size('h2');
  font-family: weight('regular'), serif;

  @media (max-width: 640px) {
    font-size: 16px;
  }
}

.text-h3 {
  font-size: size('h3');
  font-family: weight('bold'), serif;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.nav__item {
  // todo возможно, удалить или добавить стилей
  padding: 0 25px;
}