@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: weight('regular'), serif;
  color: colors('text', 'primary');
  font-size: size('base');
}

a {
  text-decoration: none;
}

.icon {
  width: 16px;
  height: 16px;
  fill: colors('text', 'secondary');
}

.active-route {
  color: colors('btn', 'hover');
}

.text-h1 {
  font-size: size('h1');
  font-family: weight('bold'), serif;

  @media (max-width: 640px) {
    font-size: 20px;
  }
}

.text-h2 {
  font-size: size('h2');
  font-family: weight('regular'), serif;

  @media (max-width: 640px) {
    font-size: 16px;
  }
}

.text-h3 {
  font-size: size('h3');
  font-family: weight('bold'), serif;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.nav__item {
  padding: 0 25px;

  @media (max-width: 640px) {
    padding: 0 15px;
  }

}